# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eventos_db?schema=public"

# Autenticação e Segurança (JWT e API Key)
JWT_SECRET=""
JWT_EXPIRES_IN="1d"
API_KEY=""

# Integrações Externas
EXTERNAL_API_TIMEOUT=5000
VIACEP_URL="https://viacep.com.br/ws"
FERIADOS_API_URL="https://brasilapi.com.br/api/feriados/v1"

# Uploads
UPLOAD_DEST="./uploads/banners"
MAX_FILE_SIZE=5242880
